/* logo style*/
.logo {
    text-decoration: none;
}
.logo span {
    color: #4D5AE5;
    }

    body {
        background-color: #fff;
    }
/* header*/
.page-header {
    width: 1440px;
    border: red solid;
    margin: 0px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    background-color: yellow;
}
    /*list style*/
.list {
    list-style: none;
}
.nave {
    display:flex;
    align-items: center;
}
/*style link*/
.site-nave .link:hover,
.site-nave .link:focus {
     color: black;
}
.current .link  {
color: #4D5AE5;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: black;
}

.auth-nav a {
        text-decoration: none;
        color: #434455;
}
.maine-nave {
    display: flex; 
    margin-left: 76px;
}
.maine-nave .item:last-child {
    margin-right: 0;
}
.maine-nave li {
    background-color: tomato;
    margin-right: 40px;
}
.site-nave current {
    margin-left: 76px;
}

.site-nave a {
    text-decoration: none;
}
.auth-nav {
    display: flex;
    margin-left: auto;
    margin-right: 156px;
}
.auth-nav .link {
    margin-left: 40px;
}
/* Section style*/
.section-title {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
width: 264px;
height: 24px;
margin-bottom: 8px;
border: 5px solid #4D5AE5;
}

 .section p {
    width: 264px;
    height: 72px;
    border: 5px solid red;
}

.benefits p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}
/* h2*/
.header-h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-left: 559px;
margin-right: 558px;
margin-top: 120px;
margin-bottom: 72px;
height: 40px;
width: 323px;
border: 5px solid red;
}
/* style hero*/
.hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;  
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-blok {
width: 1440px;
padding-top: 188px;
padding-bottom: 188px;
padding-left: 472px;
padding-right: 472px;
margin: 0px;
background-color: aqua;
}
.order-button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: blue;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #fff;
    text-decoration: none;
    margin-top: 48px;
    margin-left: 636px;
    margin-right: 636px;
    margin-bottom: 188px;
}
/* section out teame */
.list h3 {
margin-top: 32px;
margin-bottom: 8px;
border: 5px solid red;
}

.list p {
    margin-bottom: 32px;
    border: 5px solid black;

}